* {
    background-color: #0A1929;
    color: #FFFFFF;
}

body {
    background-color: #0A1929 !important;
}

input {
    border: none;
    border-bottom: 2px solid #FFFFFF;
    background-color: #0A1929 !important;
}