@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Tilt+Warp&display=swap');

* {
    /*background-color : #0A1929;*/
    color       : #FFFFFF;
    font-family : Lato, Arial, serif;
}

body, .offcanvas {
    background-color : #0A1929 !important;
}

.archery-form-style input.form-control {
    border           : none;
    border-radius    : 0;
    border-bottom    : 2px solid #FFFFFF;
    background-color : #0A1929 !important;
    color            : #FFFFFF;
}

.archery-form-style input.form-control::placeholder {
    color : #9b9b9b;
}


.archery-form-style input.form-control:-webkit-autofill,
.archery-form-style input.form-control:-webkit-autofill:hover,
.archery-form-style input.form-control:-webkit-autofill:focus,
.archery-form-style input.form-control:-webkit-autofill:active {
    -webkit-box-shadow : 0 0 0 30px #0A1929 inset !important;
}

.archery-form-style input.form-control:-webkit-autofill {
    -webkit-text-fill-color : #FFFFFF !important;
}

.archery-form-style input.form-control:focus,
.archery-form-style input.form-control:active {
    box-shadow : none;
}

.archery-form-style div.error-message {
    margin-left : 12px;
}

.archery-form-style button.btn {
    border        : #FFFFFF solid 1px;
    color         : #FFFFFF;
    border-radius : 10px;
}

.archery-form-style input,
.archery-form-style p,
.archery-form-style button {
    opacity : 0.65;
}

.header {
    font-size     : 22px;
    line-height   : 26px;
    font-weight   : bold;
    margin-bottom : 30px;
}

.archery-button {
    position      : relative;
    border-radius : 10px;
    cursor        : pointer;
    margin-bottom : 30px;
    min-height    : 55px;
}

.archery-button .background {
    width         : 100%;
    height        : 100%;
    object-fit    : cover;
    border-radius : 10px;
}

.archery-button.large .background {
    max-height : 150px;
}

.archery-button.small .background {
    max-height : 55px;
}

.archery-button .overlay {
    position      : absolute;
    z-index       : 2;
    width         : 100%;
    height        : 100%;
    opacity       : 35%;
    border-radius : 10px;
}

.archery-button .overlay.blue {
    background-color : #3ED1E8;
}

.archery-button .overlay.green {
    background-color : #98EF36;
}

.archery-button .overlay.red {
    background-color : #FF0000;
}

.archery-button .overlay.dark {
    background-color : #000000;
}

.archery-button .text {
    font-family : "Tilt Warp", serif;
    font-size   : 20px;
    position    : absolute;
    left        : 50%;
    top         : 50%;
    transform   : translateX(-50%) translateY(-50%);
    z-index     : 3;
    width       : 100%;
    text-align  : center;
}

.archery-button .outline {
    position      : absolute;
    border-radius : 10px;
    z-index       : 4;
    width         : 100%;
    height        : 100%;
    border        : 2px solid white;
}
